* {
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Arial',
    sans-serif;
  font-size: 0.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  background-color: #000;
}

nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding: 0;
}

.nav-link {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-link.active {
  color: #000;
  background-color: #999;
}

.launch-video {
  cursor: pointer;
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video-wrapper iframe {
  position: absolute;
  height: 100%;
  width: 100%;
}

fieldset {
  border: none;
}


main, .contact-form-wrapper, form, fieldset {
  padding: 1rem;
}

.form-row {
  padding: 1em;
}

input[type="text"], input[type="email"] {
  margin-left: 1rem;
}

input[type="radio"] {
  margin-right: 1rem;
}

.success {
  padding-left: 1em;
}

.error {
  padding-left: 1rem;
  color: red;
}

.input-message {
  padding-left: 1em;
}

input.dirty:invalid {
  border: 1px solid red;
}
